/* ==========================================================================
   Default skin
   ========================================================================== */

// Intentionally left blank

$background-color: #FFF4F4 !default;
$link-color: #0034b8;

$text-color: #222831 !default;
$muted-text-color: #393e46 !default;
$primary-color: #0034b8 !default;
$footer-background-color: #F3F7FF !default;
